# Download EDD Study From Jupyter Notebook
This notebook illustrates how easy it is to use python to export an EDD study into a pandas dataframe for downstream analytics and processing for any bioinformatics workflow.

In [1]:
cd ../

/Users/tradivojevic/Documents/Code/Python/edd-utils

First the edd_utils module is imported with the required functions to login and export

In [2]:
from edd_utils import login, export_study

/usr/local/lib/python3.6/site-packages/tqdm/autonotebook/__init__.py:14: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  " (e.g. in jupyter console)", TqdmExperimentalWarning)

Each EDD study has a unique identifier called a slug.  We provide this string to tell our exporter what study to download.
Below is an example.

In [3]:
# Study to Download
study_slug = 'automated-sample-preparation-proteomic-varian-2f3d'

If the desired EDD server is not `edd.jbei.org`, it should be specified (e.g. `public-edd.jbei.org`, `public-edd.agilebiofoundry.org`).

In [4]:
# EDD server
edd_server = 'edd.jbei.org'

Now we use the login function in edd_utils to **Login to EDD** using the default instance (edd.jbei.org)

In [5]:
session = login(edd_server=edd_server, user='tradivojevic')

Password for tradivojevic:  ················

Finally we **Download the Study** using the export_study function.  It returns a pandas dataframe that can be manipulated for downstream data analysis.

In [6]:
df = export_study(session, study_slug, edd_server=edd_server)

HBox(children=(IntProgress(value=0, max=35232), HTML(value='')))

In [7]:
df.head()

,Study ID,Study Name,Line ID,Line Name,Line Description,Protocol,Assay ID,Assay Name,Measurement Type,Compartment,Units,Value,Hours
0,54867,Automated sample preparation - proteomic varia...,54870,A11,NaN,Targeted Proteomics,54964,A11,PCKA_ECOLI,0,counts,29982.0,24.0
1,54867,Automated sample preparation - proteomic varia...,54870,A11,NaN,Targeted Proteomics,54964,A11,KITH_ECOLI,0,counts,1619.0,24.0
2,54867,Automated sample preparation - proteomic varia...,54870,A11,NaN,Targeted Proteomics,54964,A11,SERC_ECOLI,0,counts,3082.0,24.0
3,54867,Automated sample preparation - proteomic varia...,54870,A11,NaN,Targeted Proteomics,54964,A11,ECOT_ECOLI,0,counts,4161.0,24.0
4,54867,Automated sample preparation - proteomic varia...,54870,A11,NaN,Targeted Proteomics,54964,A11,PHOP_ECOLI,0,counts,8022.0,24.0