# Download EDD Study From Jupyter Notebook
This notebook illustrates how to use python to export an EDD study into a pandas dataframe for downstream analytics and processing for any bioinformatics workflow. It also includes

## Setup

If you run this notebook on jupyter.jbei.org server, select **JBEI-py3.6** kernel in the top right corner.

If running on your personal computer, install the pip package `edd-utils` by command:

`pip  install edd-utils --user`

------------------

First the edd_utils module is imported with the required functions to login and export:

In [1]:
from edd_utils import login, export_study, export_metadata

## Exporting a study

Each EDD study has a unique identifier called a *slug*. A slug is a string from the end of the URL, between the last two slash signs (``/``). We provide this string to tell our exporter what study to download.
Below is an example.

In [2]:
# Study to Download
study_slug = 'f2ftest3'

If the desired EDD server is not `edd.jbei.org`, it should be specified (e.g. `public-edd.jbei.org`, `public-edd.agilebiofoundry.org`).

EDD login user name should be specified.

In [3]:
# EDD server
edd_server = 'edd.jbei.org'
user       = 'tradivojevic'

Now we use the login function in edd_utils to **Login to EDD** using the default instance (edd.jbei.org)

In [4]:
session = login(edd_server=edd_server, user=user)

Password for tradivojevic:  ················

Finally we **Download the Study** using the export_study function.  It returns a pandas dataframe that can be manipulated for downstream data analysis.

In [5]:
df = export_study(session, study_slug, edd_server=edd_server)
df.head()

HBox(children=(IntProgress(value=0, max=144), HTML(value='')))

,Study ID,Study Name,Line ID,Line Name,Line Description,Protocol,Assay ID,Assay Name,Formal Type,Measurement Type,Compartment,Units,Value,Hours
0,120754,F2Ftest3,120755,1,F2F 1,Proteomics,120803,1,NaN,Total Biomass Input,0,NaN,0.21665,0.0
1,120754,F2Ftest3,120755,1,F2F 1,Proteomics,120803,1,cid:5793,D-Glucose,0,g/L,33.65349,0.0
2,120754,F2Ftest3,120755,1,F2F 1,Proteomics,120803,1,cid:135191,D-Xylose,0,g/L,21.51014,0.0
3,120754,F2Ftest3,120756,2,F2F 2,Proteomics,120804,2,NaN,Total Biomass Input,0,NaN,0.19395,0.0
4,120754,F2Ftest3,120756,2,F2F 2,Proteomics,120804,2,cid:5793,D-Glucose,0,g/L,42.70434,0.0

The function `export_metadata` gets all the metadata and returns a pandas dataframe.

In [6]:
df_md = export_metadata(session, study_slug, edd_server=edd_server)
df_md.head()

,Description,Flask Volume,Growth temperature,Date Grown,Date of harvest,Growth Site Type,Growth Site Location,Growth Site Plot ID,Tissue type,IL Name,...,Fermentation Media,Fermentation Starting OD,Fermentation Time,Fermentation Temperature,Fermentation pH set point,Fermentation working volume,Separation method,Overlay Ratio,Overlay Compound,Saccharification biomass loading %
Line Name,,,,,,,,,,,,,,,,,,,,,
1,F2F 1,4,NA,6/1/19,10/1/19,Greenhouse,Davis,1,Stem,Cholinium Phosphate,...,hydrolysate&amonium sulfate,0.2,72,30,NU,150ul,Overlay,25%,Dodecane spiked with pentadecane,100%
2,F2F 2,4,NA,6/1/19,10/1/19,Greenhouse,Davis,1,Stem,Cholinium Phosphate,...,hydrolysate&amonium sulfate,0.2,72,30,NU,150ul,Overlay,25%,Dodecane spiked with pentadecane,100%
3,F2F 3,4,NA,6/1/19,10/1/19,Greenhouse,Davis,1,Stem,Cholinium Phosphate,...,hydrolysate&amonium sulfate,0.2,72,30,NU,150ul,Overlay,25%,Dodecane spiked with pentadecane,100%
4,F2F 4,4,NA,6/1/19,10/1/19,Greenhouse,Davis,1,Stem,Cholinium Phosphate,...,hydrolysate&amonium sulfate,0.2,72,30,NU,150ul,Overlay,25%,Dodecane spiked with pentadecane,100%
5,F2F 5,4,NA,6/1/19,10/1/19,Greenhouse,Davis,1,Stem,Cholinium Phosphate,...,hydrolysate&amonium sulfate,0.2,72,30,NU,150ul,Overlay,25%,Dodecane spiked with pentadecane,100%